.home
  h1 {{ title }}
  p(v-hidden="false") {{ testText }}
  form.form-area()
    el-row
      el-col(:span="10")
        .tag Nickname
      el-col(:span="14")
        el-input(type="text" v-model="nickName")
    el-row
      el-col(:span="10")
        .tag Birthday
      el-col(:span="14")
        el-input(type="text" v-model="birthday")
    el-row
      el-col(:span="10")
        .tag Gender
      el-col(:span="14")
        el-select(v-model="gender")
          el-option(v-for="item in genderItems", :key="item", :label="item", :value="item")
    el-row
      el-col(:span="10")
        .tag Riding Start Year
      el-col(:span="14")
        el-input(type="text" v-model="ridingStartYear")
    el-row
      el-col(:span="10")
        .tag Area
      el-col(:span="14")
        el-input(type="text" v-model="area")
    el-button(type="primary" @click="callNativeFunc()") Submit
